/* SideNav.css */
.ant-col.sidebarCol{
     background-color: #F5f5F5 !important;
     border-right: 1px solid #00000033;
}
/* Persistent selected styling for light theme */
.ant-menu-light .ant-menu-item-selected {
    background-color: #cfd8e4 !important; /* Selected background color */
    color: #fff !important; /* Selected text color */
    font-weight: bold !important; /* Optional: Bold font */
    border-radius: 8px; /* Optional: Rounded corners */
}

/* Hover effect */
.ant-menu-light .ant-menu-item:hover {
    background-color: #a4b3c8 !important; /* Hover color */
    color: black !important;
}

/* Default color for non-selected items */
.ant-menu-light .ant-menu-item {
    color: black !important;
    background-color: transparent;
}


/* SideNav.css */
.container {
    display: flex;
    height: 100vh;
    /* overflow: hidden; */
    background-color:'#5F5F58A' ;
}

/* Header styling */
.header-content {
    display: flex;
    align-items: center;
    gap: 10px; /* Spacing between items */
    justify-content: flex-end; /* Align to the right */
    width: auto;
}

/* Search styling */
.search {
    max-width: 375px;
    height: 40px;
    border-radius: 29px;
}

/* Notification icon styling */
.notification-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #d9d9d9;
    border-radius: 20px;
}
@media screen and (max-width: 600px) {
    .sider {
        width: "100%";
    }
}
