/* ForgotPassword.module.css */

/* Container for the Login Page */
.loginContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    margin: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Wrapper for the Login Form */
.loginFormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 400px;
    width: 334px;
    max-width: 100%;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-sizing: border-box;
    overflow-wrap: wrap;
    overflow-y: auto;
}

/* Custom Button Styling */
.customButton {
    font-family: Montserrat;
    border-radius: 20px;
    background: rgba(17, 127, 154, 1);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customButton:hover,
.customButton:active {
    border-color: rgba(17, 34, 103, 1) !important;
    background-color: rgba(7, 152, 241, 1) !important;
}

/* Style for input elements */
.input {
    width: 100%;
}


.loginFooter {
    display: none;
}

@media (max-width: 674px) {
    .loginFooter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .loginContainer {
        box-shadow: none;
        width: 100%;
    }
    .loginFormWrapper {
        width: 100%;
        max-width: 100%;
        border-radius: 0px;
        box-shadow: none;
    }
}

@media (max-width: 361px) {
    .loginFormWrapper {
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        border-radius: 0px;
        box-shadow: none;
    }
}
